.container{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
}

.divcont{
    padding-top: 0.5%;
}

.divcol{
    display: flex;
}

.widget{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    gap: 120%;
}